snippet classh "Class automagical" b
#ifndef ${1/([A-Za-z0-9_]+).*/\U$1\E/}_H
#define ${1/([A-Za-z0-9_]+).*/\U$1\E/}_H
class $1{
	public:
		$1();
		~$1();
	protected:
	private:
};
#endif 
endsnippet

snippet classc "Class automagical" b
#include "$1.h"

$1::$1(){

}

$1::~$1(){

}
endsnippet
